<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.erp.mapper.EmpRemoveMapper">
  <resultMap id="BaseResultMap" type="com.example.erp.entity.EmpRemove">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="afterDepId" jdbcType="INTEGER" property="afterdepid" />
    <result column="afterJobId" jdbcType="INTEGER" property="afterjobid" />
    <result column="removeDate" jdbcType="DATE" property="removeDate" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <association property="employee" column="eid" select="com.example.erp.mapper.EmployeeMapper.findEmpById"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, eid, afterDepId, afterJobId, removeDate, reason, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from empRemove
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from empRemove
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.example.erp.entity.EmpRemove" useGeneratedKeys="true">
    insert into empRemove (eid, afterDepId, afterJobId, 
      removeDate, reason, remark
      )
    values (#{eid,jdbcType=INTEGER}, #{afterdepid,jdbcType=INTEGER}, #{afterjobid,jdbcType=INTEGER}, 
      #{removeDate,jdbcType=DATE}, #{reason,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.erp.entity.EmpRemove" useGeneratedKeys="true">
    insert into empRemove
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eid != null">
        eid,
      </if>
      <if test="afterdepid != null">
        afterDepId,
      </if>
      <if test="afterjobid != null">
        afterJobId,
      </if>
      <if test="removeDate != null">
        removeDate,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eid != null">
        #{eid,jdbcType=INTEGER},
      </if>
      <if test="afterdepid != null">
        #{afterdepid,jdbcType=INTEGER},
      </if>
      <if test="afterjobid != null">
        #{afterjobid,jdbcType=INTEGER},
      </if>
      <if test="removeDate != null">
        #{removedate,jdbcType=DATE},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.erp.entity.EmpRemove">
    update empRemove
    <set>
      <if test="eid != null">
        eid = #{eid,jdbcType=INTEGER},
      </if>
      <if test="afterdepid != null">
        afterDepId = #{afterdepid,jdbcType=INTEGER},
      </if>
      <if test="afterjobid != null">
        afterJobId = #{afterjobid,jdbcType=INTEGER},
      </if>
      <if test="removeDate != null">
        removeDate = #{removeDate,jdbcType=DATE},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.erp.entity.EmpRemove">
    update empRemove
    set eid = #{eid,jdbcType=INTEGER},
      afterDepId = #{afterdepid,jdbcType=INTEGER},
      afterJobId = #{afterjobid,jdbcType=INTEGER},
      removeDate = #{removeDate,jdbcType=DATE},
      reason = #{reason,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>